* {
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
    font-size: 15px;
    font-variant: normal;
    padding: 0;
    margin: 0;
  }
  
  html {
    height: 100%;
  }
  
  body {
    background: #F6F9FC;
    /* display: flex; */
    /* align-items: center;
    min-height: 100%; */
  }
  
  form {
    width: 480px;
    margin: 20px auto;
  }
  
  label {
    position: relative;
    color: #6A7C94;
    font-weight: 400;
    height: 48px;
    line-height: 48px;
    margin-bottom: 10px;
    display: block;
  }
  
  label > span {
    float: left;
  }
  
  .field {
    background: white;
    box-sizing: border-box;
    font-weight: 400;
    border: 1px solid #CFD7DF;
    border-radius: 24px;
    color: #32315E;
    outline: none;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    cursor: text;
    width: 76%;
    float: right;
  }
  
  .field::-webkit-input-placeholder { color: #CFD7DF; }
  .field::-moz-placeholder { color: #CFD7DF; }
  .field:-ms-input-placeholder { color: #CFD7DF; }
  
  .field:focus,
  .field.StripeElement--focus {
    border-color: #F99A52;
  }
  
  button {
    float: left;
    display: block;
    background-image: linear-gradient(-180deg, #F8B563 0%, #F99A52 100%);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), inset 0 -1px 0 0 #E57C45;
    color: white;
    border-radius: 24px;
    border: 0;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
    width: 100%;
    height: 48px;
    line-height: 48px;
    outline: none;
  }
  
  button:focus {
    background: #EF8C41;
  }
  
  button:active {
    background: #E17422;
  }
  
  .outcome {
    float: left;
    width: 100%;
    padding-top: 8px;
    min-height: 20px;
    text-align: center;
  }
  
  .success, .error {
    display: none;
    font-size: 13px;
  }
  
  .success.visible, .error.visible {
    display: inline;
  }
  
  .error {
    color: #E4584C;
  }
  
  .success {
    color: #F8B563;
  }
  
  .success .token {
    font-weight: 500;
    font-size: 13px;
  }

  #paymentforms {
    padding-left: 60px;
  }

  #payment-form{
    margin-left: 10px;
  }

  .container {
   min-height: 400px;
   padding-top: 10px;
  }

  .active a {
    background-color: #F6F9FC !important;
    color:#00467C !important;
  }

  #pmintro {
    padding: 25px 50px 10px 0px;
  }

  .selectpms {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 400px; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
  .selectpms::-ms-expand {
    display: none;
  }
  .selectpms:hover {
    border-color: #888;
  }
  .selectpms:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }
  .selectpms option {
    font-weight:normal;
  }

  