<form id="payment-form">
          <div class="group">
            <label>
              <span>Name</span>
              <input id="cardholder-name" class="field" placeholder="John Doe" />
            </label>
            <label>
              <span>Phone</span>
              <input id="phone" class="field" placeholder="(123) 456-7890" type="tel" />
            </label>
          </div>
          <div class="group">
            <label>
              <span>Card</span>
              <div id="card-secure-fields" class="field"></div>
            </label>            
          </div>
          <button type="submit">Pay</button>
  </form>   
