<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.js" </script> </head > <body>
            {{> securefields}}
     <p>Payment Methods</p>
            {{> paymentmethods}}

    </body>

</html>